/* 공통으로 적용되어야할 css */
html, body {
  height: 100vh;
}

body {
  margin: 0px;
  padding: 0;
  font-family: LINESeedKR;
  font-weight: 100;
}

@media (max-width: 1269px) {
  .hide-on-small {
    display: none !important;
  }
  .hide-on-big {
    display: block;
  }
}

@media (min-width: 1270px) {
  html, body {
    min-width: 1270px;
  }

  .hide-on-small {
    display: block;
  }
  .hide-on-big {
    display: none !important;
  }
}

@font-face {
  font-family: 'LINESeedKR';
  font-weight: 700;
  src: url('../../assets/fonts/LINESeedKR-Bd.ttf');
}
@font-face {
  font-family: 'LINESeedKR';
  font-weight: 400;
  src: url('../../assets/fonts/LINESeedKR-Rg.ttf');
}
@font-face {
  font-family: 'LINESeedKR';
  font-weight: 100;
  src: url('../../assets/font/LINESeedKR-Th.ttf');
}
